{% extends 'base.html.twig' %}
{% block title %}{{ boat.name }}{% endblock %}

{% block content %}

<main role="main" class="container">

    <div class="media">
        <img class="mr-3" width="50%" src="../{{ boat.picture }}" alt="{{ boat.name }}">
        <div class="media-body">
            <h1 class="mt-0">{{ boat.name }} - {{ boat.NbViews }} vues</h1>
            <i>{{ boat.price|number_format }} $</i><br />
            <p>{{ boat.description }}</p>
        </div>
    </div>

    <br />

    <table class="table table-bordered">
        <tr>
            <th>longueur</th>
            <td>{{ boat.length|number_format }}m</td>
            <th>largeur</th>
            <td>{{ boat.width|number_format }}m</td>
            <th>Cabine</th>
            <td>{{ boat.berths }}</td>
        </tr>
        <tr>
            <th>Vitesse</th>
            <td>{{ boat.speed }} nds</td>
            <th>Puissance</th>
            <td>{{ boat.power|number_format }} ch</td>
            <th>Héliports</th>
            <td>{{ boat.heliport|number_format }}</td>
        </tr>
        </tbody>
    </table>


</main><!-- /.container -->

{% endblock %}