{% extends 'base.html.twig' %}
{% block title %}{{ boat.name }}{% endblock %}

{% block content %}

<main role="main" class="container">

    <div class="media">
        <img class="mr-3" width="50%" src="../{{ boat.picture }}" alt="{{ boat.name }}">
        <div class="media-body">
            <h1 class="mt-0">{{ boat.name }} - {% set viewCounter = boat.NbViews %}
                {% transchoice viewCounter %}
                {0} No view|{1} %viewCounter% view |]1,Inf[ %viewCounter%  views
                {% endtranschoice %}</h1>
            <i>{{ boat.price|number_format }} $</i><br />
            <p>{{ boat.description }}</p>
        </div>
    </div>

    <br />

    <table class="table table-bordered">
        <tr>
            <th>{% trans %}length{% endtrans %}</th>
            <td>{{ boat.length|number_format }}m</td>
            <th>{% trans %}width{% endtrans %}</th>
            <td>{{ boat.width|number_format }}m</td>
            <th>{% trans %}berths{% endtrans %}</th>
            <td>{{ boat.berths }}</td>
        </tr>
        <tr>
            <th>{% trans %}speed{% endtrans %}</th>
            <td>{{ boat.speed }} nds</td>
            <th>{% trans %}power{% endtrans %}</th>
            <td>{{ boat.power|number_format }} ch</td>
            <th>{% trans %}heliport{% endtrans %}</th>
            <td>{{ boat.heliport|number_format }}</td>
        </tr>
        </tbody>
    </table>


</main><!-- /.container -->

{% endblock %}