{% extends 'base.html.twig' %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Boat'Ik</h1>
        <p class="lead text-muted">{% trans %}Boat'Ik is a simple shop to buy a beautifull boat ! Be careful though to surprises :p{% endtrans %}</p>
        <p>
            <a href="#" class="btn btn-primary my-2">{% trans %}Symfony is great{% endtrans %}</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for boat in boats %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="height: 450px;">
                    <img class="card-img-top" data-src="{{ boat.picture }}" src="{{ boat.picture }}" alt="Card image cap" style="height: 200px">
                    <div class="card-body">
                        <h3>{{ boat.name|upper }}</h3>
                        <p class="card-text">{{ boat.description }}</p>
                        <div class="d-flex justify-content-between align-items-center" style="position: absolute; bottom: 10px; width: 100%">
                            <div class="btn-group">
                                <a href="{{ path('product_detail', {
                        'productId': boat.id
                    }) }}" class="btn btn-sm btn-success">{% trans %}More Infos{% endtrans %}</a>
                                <button type="button" class="btn btn-sm btn-dark">{{ boat.materials }}</button>
                            </div>
                            <span class="badge badge-danger" style="position: relative; right: 30px;">{{ boat.price|number_format }} $</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}